body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexble-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    box-shadow:  10px,10px greenyellow;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px,40px ;
    color: white;
    border-radius: 5px;

}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}